bcc==0.1.10
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama==0.4.4
cryptography==3.4.8
Flask==2.2.2
Flask-Login==0.6.2
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
httplib2==0.20.2
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
oauthlib==3.2.0
PyYAML==5.4.1
requests==2.25.1
SQLAlchemy==1.4.40
virtualenv==20.16.3
Werkzeug==2.2.2
