<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../static/main.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">


</head>

<body class="main-body">
    <header class="navi">
        <a href="/"><img class="nav-img" src="#" alt=""></a>
        <div>
            <ul>
                <li>
                    <a class="nav-button" href="/">Home</a>
                    <a class="nav-button" href="/sign-up">Register</a>
                </li>
            </ul>
        </div>

    </header>

    <main class="login">
        <div class="centered">
            <form method="POST">
                <h1 align-item="center">Log In</h1>
                <p>Email</p>
                <input type="email" id="email" name="email" required>
                <p>Password</p>
                <input type="password" id="password" name="password" required>
                <button type="submit">Log In</button>
            </form>
            <div>
                <p>Don't have an account? <a class="register" href="/sign-up">Register</a></p>

            </div>
            <div class="forgot-pass">

                <a href="#">Forgot password?</a>
            </div>
        </div>

    </main>

    <footer class="footer">
        <a class="footer-button" href="#">
            <p></p>
        </a>
    </footer>
</body>

</html>