<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="../static/main.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">


</head>

<body class="main-body">
    <header class="navi">
        <a href="/"><img class="nav-img" src="#" alt=""></a>
        <div>
            <ul>
                <li>
                    <a class="nav-button" href="/">Home</a>
                </li>
            </ul>
        </div>

    </header>

    <main class="unathorized">
        <div class="unatho">
            <h1>Please wait for admin to athorize account</h1> 
            <button>
                <a href="/">Back to home</a>
            </button>
        </div>
    </main>

    <footer class="footer">
        <a class="footer-button" href="#">
            <p></p>
        </a>
    </footer>
</body>

</html>