.main-body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .job {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "upload"
            "footer";
        background-color: white;
        color: black;
        justify-items: center;
        align-items: center;
        align-content: center;

        div {
            form {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                margin-bottom: 60px;

                .file-upload {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    display: inline-block;
                    padding: 6px 12px;
                    cursor: pointer;
                }

                .btn-upload {
                    background-color: forestgreen;
                    border: none;
                    border-radius: 5px;
                    height: 35px;

                    &:hover {
                        background-color:  #e4e4ec;
                    }
                }
            }

            button {
                border-radius: 3px;
                border-width: 0px;
                margin: 5px;

                .btn-edit {
                    background-color: #bebed2;
                }

                .btn-eliminar {
                    background-color: red;
                }

                a {
                    border-radius: 3px;
                    padding: 5px;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}